* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}
.header {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &-box {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 217px;
    padding-bottom: 493px;
  }
  &__title {
    color: #fff;
    font-size: 64px;
    font-weight: 700;
  }
  &__text {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    width: 481px;
  }
  &__button {
    border-radius: 30px;
    text-decoration: none;
    background: #9c0332;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 234.063px;
    height: 48.603px;
    flex-shrink: 0;
    margin-top: 12px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    cursor: url("../img/cursor.svg"), auto;
    &:hover {
      background: #eb443f;
      transition: all 0.3s;
    }
  }
}
.game {
  background: #000915;
  padding-top: 132px;
  padding-bottom: 132px;
  &-box {
    display: flex;
    gap: 0 32px;
    flex-wrap: wrap;
  }
  &-content {
    position: relative;

    &:hover {
      border-radius: 16px;
      outline: 3px solid #44d2ff;
      background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%),
        url(<path-to-image>), lightgray 50% / cover no-repeat;
      transition: all 0.3s;
      cursor: url("../img/cursor.svg"), auto;
    }
  }
  &__image {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%),
      url(<path-to-image>), lightgray 50% / cover no-repeat;
    width: 100%;
  }
  &__text {
    position: absolute;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    bottom: 32px;
    left: 32px;
    text-decoration: none;
  }
}

@import "mobile";
