* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header-box {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 217px;
  padding-bottom: 493px;
}
.header__title {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
}
.header__text {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  width: 481px;
}
.header__button {
  border-radius: 30px;
  text-decoration: none;
  background: #9c0332;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 234.063px;
  height: 48.603px;
  flex-shrink: 0;
  margin-top: 12px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  cursor: url("../img/cursor.svg"), auto;
}
.header__button:hover {
  background: #eb443f;
  transition: all 0.3s;
}

.game {
  background: #000915;
  padding-top: 132px;
  padding-bottom: 132px;
}
.game-box {
  display: flex;
  gap: 0 32px;
  flex-wrap: wrap;
}
.game-content {
  position: relative;
}
.game-content:hover {
  border-radius: 16px;
  outline: 3px solid #44d2ff;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(<path-to-image>), lightgray 50%/cover no-repeat;
  transition: all 0.3s;
  cursor: url("../img/cursor.svg"), auto;
}
.game__image {
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(<path-to-image>), lightgray 50%/cover no-repeat;
  width: 100%;
}
.game__text {
  position: absolute;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  bottom: 32px;
  left: 32px;
  text-decoration: none;
}

.seasons {
  background: #000915;
  display: flex;
  padding-top: 282px;
  padding-bottom: 282px;
  gap: 135px;
}
.seasons-box {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.seasons__title {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
}
.seasons__text {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  width: 584px;
}
.seasons__button {
  border-radius: 30px;
  text-decoration: none;
  background: #9c0332;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 234.063px;
  height: 48.603px;
  flex-shrink: 0;
  margin-top: 12px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  cursor: url("../img/cursor.svg"), auto;
}
.seasons__button:hover {
  background: #eb443f;
  transition: all 0.3s;
}

@media (max-width: 375px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    background-image: url(../img/background_mobile.jpg);
  }
  .header-box {
    text-align: center;
    align-items: center;
    padding: 238px 0px 238px 0px;
  }
  .header__title {
    font-size: 32px;
  }
  .header__text {
    font-size: 14px;
    width: 343px;
  }
  .header__button {
    margin-top: 0;
  }
  .game {
    padding-top: 128px;
  }
  .game-box {
    gap: 32px;
  }
  .seasons {
    flex-direction: column;
    gap: 64px;
    padding-top: 51px;
    padding-bottom: 85px;
  }
  .seasons-box {
    text-align: center;
    align-items: center;
  }
  .seasons__title {
    font-size: 32px;
  }
  .seasons__text {
    font-size: 14px;
    width: 343px;
  }
  .seasons__button {
    margin-top: 0;
  }
  .seasons__image {
    width: 344px;
    height: 236px;
  }
}/*# sourceMappingURL=style.css.map */